@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

body {
  background-color: #e8f5fd;
}
.no-internet {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #bd1523;
}
div > span[aria-label='emoji'] {
  font-size: 3rem;
  align-self: end;
}
.book:hover {
  cursor: pointer;
}
.loading {
  background: url('./images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin-top: 5rem;
  div {
    background-color: #1189;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 5rem);
  }
}
